{% extends '_base.html' %}

{% block content %}

<div class="container col-md-4 float-right ">
<div class="card my-4">
    <div class="card-body">
        <a href="{% url 'blog_post_update_view' post.pk %}"
           class="btn btn-info">Update</a>
        <a href="{% url 'blog_post_delete_view' post.pk %}"
           class="btn btn-danger">Delete</a>
        <a href="{% url 'blog_post_list_view' %}"
           class="btn btn-primary">Back</a>
    </div>
</div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-8 card mb-4 mt-3 left top">
            <div class="card-body">
                <h1>{{ post.title }}</h1>
                <p class="text-muted">{{ post.author.username }} | {{ post.created_on }}</p>
                <p class="card-text">{{ post.content | safe }}</p>
            </div>
        </div>
    </div>
</div>

{% endblock content %}